{
  "presets": [
    [
      "razzle/babel",
      { "plugins": [["babel-plugin-styled-components", { "ssr": true }]] }
    ],
    [
      "flow",
      { "plugins": [["babel-plugin-styled-components", { "ssr": true }]] }
    ]
  ],
  "plugins": [["babel-plugin-styled-components", { "ssr": true }]]
}
